.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  
}

.row{
  justify-content: center;
}

button{
  margin: 10px;
  border-radius: 15px
}

.portfolio-wrapper{
  border: 10px solid;
  border-radius: 50px;
  min-height: 60vh;
  min-width: 60vw;
}

.portfolio-header{
  border-radius: 20px 20px 0px 0px;
}

.portfolio-header button{
  border-radius: 15px;
}

.portfolio-img{
  max-height: 300px;
}

.selectable{
  user-select: all;
}

.card{
  background-color: transparent;
}

li{
  text-align: left;
}

img{
  margin: 0px 20px;
}

.features{
  margin: 0px 20px;
  border: 5px solid;
  border-radius: 50px;
  padding: 10px;
}

.info-wrapper{
  margin-top: 10px;
}

.info-header{
  text-decoration: underline;
}

h2{
  font-size: 3rem;
}

